@import url("samba.css");

@page {
  size: landscape;
}

:root {
  --table-cell-top-padding: 3mm;
}

#title-section {
  margin-top: -2.25cm;
}

#playlist-section {
  columns: 7cm 2;
  column-gap: 1.5cm;
}
