/* Example CSS adapted from https://github.com/CourtBouillon/weasyprint-samples/blob/6bae0067da562f1e1f757b59e91bcfc5814adbb9/report/report.css */
:root {
  --highlight-bg-color: #fbc847;
  --table-cell-top-padding: 5mm;
  --faded-color: #a9a;
}

@font-face {
  font-family: Nunito Sans;
  font-weight: 400;
  src: url(NunitoSans-Regular.ttf);
}
@font-face {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: 400;
  src: url(NunitoSans-Italic.ttf);
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 300;
  src: url(NunitoSans-Light.ttf);
}
@font-face {
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: 300;
  src: url(NunitoSans-LightItalic.ttf);
}
@font-face {
  font-family: Nunito Sans;
  font-weight: 700;
  src: url(NunitoSans-Bold.ttf);
}
@font-face {
  font-family: Nunito Sans;
  font-style: italic;;
  font-weight: 700;
  src: url(NunitoSans-BoldItalic.ttf);
}

@page {
  margin-bottom: 2.25cm;
  @bottom-left {
    content: 'Exported from samba - the smart and mechanic ballroom assistant';
    text-align: center;
    height: 1cm;
    margin-top: .2cm;
  }
  @bottom-right {
    background-color: var(--highlight-bg-color);
    content: counter(page);
    text-align: center;
    height: 1cm;
    width: 1cm;
    margin-top: .2cm;
  }
}
@page :blank {
  @top-left { background: none; content: '' }
  @top-center { content: none }
  @top-right { content: none }
}
@page no-chapter {
  @top-left { background: none; content: none }
  @top-center { content: none }
  @top-right { content: none }
}

html {
  color: #393939;
  font-family: Nunito Sans;
  font-size: 11pt;
  font-weight: 300;
  line-height: 1.5;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: oldstyle-nums tabular-nums;
}

h1 {
  color: #fbc847;
  font-size: 38pt;
  margin: 5cm 2cm 0 2cm;
  page: no-chapter;
  width: 100%;
}
h2, h3, h4 {
  color: black;
  font-weight: 400;
}
h2 {
  break-before: always;
  font-size: 28pt;
  string-set: heading content();
}
h3 {
  font-weight: 300;
  font-size: 15pt;
}
h4 {
  font-size: 13pt;
}
h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

figure {
  page-break-inside: avoid;
}

a {
  color: #daa827;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  page-break-before: avoid;
  page-break-inside: auto;
}
tr {
  page-break-inside:avoid;
  page-break-after:auto;
}
thead {
  display:table-header-group;
}
tfoot {
  display:table-footer-group;
}
th {
  border-bottom: .2mm solid;
  border-bottom-color: var(--faded-color);
  color: var(--faded-color);
  font-size: 10pt;
  font-weight: 400;
  padding-bottom: .25cm;
  text-transform: uppercase;
}
td {
  padding-top: var(--table-cell-top-padding);
}
td:last-of-type {
  text-align: right;
}
th:first-of-type, td:first-of-type {
  text-align: left;
}
th:last-of-type, td:last-of-type {
  text-align: right;
}

.numbered-table {
  counter-reset: row-num;
}
.numbered-table tbody tr  {
  counter-increment: row-num;
}
.numbered-table tbody tr::before {
  display: table-cell;
  content: counter(row-num);
  padding-top: var(--table-cell-top-padding);
  text-align: left;
}

#tags .tag {
  font-size: 9pt;
  background-color: var(--highlight-bg-color);
  padding: 4px 6px;
  border-radius:8px;
}

/* Code for event sample */
#event section.flexed {
  display: flex;
  flex-wrap: wrap;
  margin: 1cm 0;
}
#event #title-section {
  display: flex;
  padding-bottom: 1em;
}
#event #title-section h2 {
  flex: 1;
}
#event #tags {
  padding-top: 1.5cm;
  margin-right: 1cm;
}
#event section h4 {
  border-top: 1pt solid;
  flex: 1 25%;
  margin: 0;
}
#event section div {
  margin-top: -6pt !important;
}
#event section div img {
  width: 100%;
}
#event section h4 + * {
  flex: 1 75%;
  margin: 0;
  padding-left: .5cm;
}
#event section p {
  text-align: justify;
}
#event section ul {
  line-height: 2;
  list-style: none;
}
#event section h3 {
  background-color: var(--highlight-bg-color);
  margin: 2cm -3cm 1cm;
  padding: 1cm 1cm 1cm 3cm;
  width: 21cm;
}

/* Code for playlist sample */
#playlist section.flexed {
  display: flex;
  flex-wrap: wrap;
  margin: 1cm 0;
}
#playlist #title-section {
  display: flex;
  padding-bottom: 1em;
}
#playlist #title-section h2 {
  flex: 1;
}
#playlist #tags {
  padding-top: 1.5cm;
  margin-right: 1cm;
}
#playlist section h4 {
  border-top: 1pt solid;
  flex: 1 25%;
  margin: 0;
}
#playlist section div {
  margin-top: -6pt !important;
}
#playlist section div img {
  width: 100%;
}
#playlist section h4 + * {
  flex: 1 75%;
  margin: 0;
  padding-left: .5cm;
}
#playlist section p {
  text-align: justify;
}
#playlist section ul {
  line-height: 2;
  list-style: none;
}
#playlist section h3 {
  background-color: var(--highlight-bg-color);
  margin: -.5cm -3cm 1cm;
  padding: 1cm 1cm 1cm 3cm;
  width: 21cm;
}

/* Code for routine export */
#routine section.flexed {
  display: flex;
  flex-wrap: wrap;
  margin: 1cm 0;
}
#routine #title-section {
  display: flex;
  padding-bottom: 1em;
}
#routine #title-section h2 {
  flex: 1;
}
#routine section h4 {
  border-top: 1pt solid;
  flex: 1 25%;
  margin: 0;
}
#routine section h4 + * {
  flex: 1 75%;
  margin: 0;
  padding-left: .5cm;
}
#routine section p {
  text-align: justify;
}
#routine h3 {
  background-color: var(--highlight-bg-color);
  margin: -.5cm -3cm 1cm;
  padding: .5cm .5cm .5cm 3cm;
  width: 21cm;
}
#routine table.compact {
  line-height: 1 !important;
}
#routine table.compact td {
  padding-top: 2mm !important;
}
