span.icon-pad { margin-right: 5px; }
h1 { padding-top: 3rem; padding-bottom: 1rem; }
a.hide-visual { color: inherit; }
.tooltip {
  white-space: normal;
}
div.toast-at-top {
  margin-top: 7rem;
}

table .track-artwork-preview {
  background-color: var(--track-color);
  width: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
