<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="samba.css" rel="stylesheet">
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }} - samba playlist export">
  </head>

  <body>
    <article id="playlist">
      <div id="title-section">
        <h2 id="playlist-title">{{ title }}</h2>
        {% if !tags.is_empty() %}
        <div id="tags">
          {% for tag in tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </div>

      <section class="flexed">
        <h4>Total length:</h4>
        <p>{{ formatted_length }}</p>
      </section>
      {% if !notes.is_empty() -%}
      <section class="flexed">
        <h4>Notes</h4>
        <p>{{ notes }}</p>
      </section>
      {% endif %}

      <section>
        {% include "playlist-section.html" %}
      </section>
    </article>
  </body>
</html>
