<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="samba.css" type="text/css">
    <title>{{ title }}</title>
    <meta name="description" content="{{ title }} - samba routine export">
  </head>

  <body>
    <article id="routine">
      <div id="title-section">
        <h2 id="routine-title">{{ title }}</h2>
      </div>

      {% if !description.is_empty() %}
        <p>
          {{ description }}
        </p>
      {% endif %}
      {% if !choreographer.is_empty() %}
      <section class="flexed">
        <h4>Choreographer</h4>
        <p>{{ choreographer }}</p>
      </section>
      {% endif %}
      {% if !performers.is_empty() %}
      <section class="flexed">
        <h4>Performers</h4>
        <p>{{ performers }}</p>
      </section>
      {% endif %}

      <h3 style="margin-top: 1.5cm!important;">Figure Summary</h3>
      <table class="compact">
          <colgroup>
            <col span="1" style="width: 3rem;" />
            <col span="1" />
            <col span="1" />
          </colgroup>
          <thead>
            <tr>
              <th>№</th>
              <th>Figure/Step</th>
              <th>Timing</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in steps %}
            <tr>
              {% if !entry.0.is_empty() %}
                <td>{{ entry.0 }}</td>
              {% endif %}
              <td {% if entry.0.is_empty() %}
                colSpan="2"
                style="font-size: smaller; color: var(--faded-color); padding-bottom: 0mm; padding-top: 5mm;"
              {% endif %}>{{ entry.1 }}</td>
              <td>{{ entry.2.unwrap_or_default()|escape("html")|linebreaks|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>

      {% if !notes.is_empty() -%}
      <section class="flexed">
        <h4>Notes</h4>
        <p>{{ notes }}</p>
      </section>
      {% endif %}

      {% if !demonstrations.is_empty() %}
      <section class="flexed">
        <h4>Demonstrations</h4>
        <ul style="columns: 2;">
          {% for demo in demonstrations %}
          <li>{{ demo }}</li>
          {% endfor %}
        </ul>
      </section>
      {% endif %}

      <h3 style="break-before: page; margin-top: 0cm!important">Figure Breakdown</h3>
      <table>
        <colgroup>
          <col span="1" style="width: 3rem;" />
          <col span="1" />
        </colgroup>
        <thead>
          <tr>
            <th>№</th>
            <th>Figure/Step Details</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in step_details %}
          <tr>
            <td style="vertical-align: baseline;">{{ entry.0 }}</td>
            <td style="vertical-align: baseline;">{{ entry.1|safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>
  </body>
</html>
